.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: arial, sans-serif;
  padding: 30px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  padding: 0;
  margin: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather canvas {
  margin: 5px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
